body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    height: 70px;
    background: #fff;
    color: #fff;
    box-shadow: 1px 2px 5px 0px #306EFE;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}
.logo img{
    width: 220px;
    height: 220px;
}
ul{
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
}
ul li{
    margin: 0 2rem;
}
ul li a{
    color: #000;
    font-size: large;
    font-weight: bold;
    box-sizing: 20px;
    text-decoration: none;
}
.navbar-btn{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar-btn a{
    display: block;
    font-weight: bold;
    text-align: center;
    width: 62px;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: 2px solid #F1EEEE;
}
.navbar-btn a:hover{
    transition: 1.5s;
    box-shadow: 1px 2px 5px 0px #306EFE;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-tutor{
    width: 300px;
    height: 400px;
    margin: 10px 30px;
}

.image{
    
    background-image: cover;
    text-align: center;
}
.image img{
    border-radius: 100%;
    margin: 10px;
}
.detail{
    text-align: center;
}
.detail .verify-1{
    color: #fff;
    display: block;
    background:#2ed172;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    border-radius: 5%;
}
.detail .verify-2{
    color: #fff;
    display: block;
    background:#2ed172;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    border-radius: 5%;
}
.detail .verify-3{
    color: #fff;
    display: block;
    background:#2ed172;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    border-radius: 5%;
}

.tutor-btn {
    
    text-align: center;
}
.tutor-btn a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    width: 150px;
    padding: 0.5rem 0.5rem;
    background: linear-gradient(to right, #b042ff, #00FFFF);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 9px 8px 5px 0px rgba(0,0,0,0.24);
}

.main-math{
    text-align: center;
}
.main-math h1{
    color: #000;
    display: inline-block;
    border-bottom: 2px solid rgb(226, 226, 226);
}